.idea

.venv
uv.lock

*.pyc
*.pyo
__pycache__

.pytest_cache
.ruff_cache

progress*.txt

.coverage
logs

bot

src/debug.py
data/replays

# ---

# AI stuff
AGENTS.md
AGENTS.override.md
Dockerfile.agent
Makefile.agent
bin/agent-run.sh
.claude
thoughts

# bots run stuff
bin/run-bots-games.sh
Makefile.bots
data/*
