.idea

.venv
uv.lock

*.pyc
*.pyo
__pycache__

.pytest_cache
.ruff_cache

progress*.txt

.coverage
logs

src/debug.py

# ---

# AI stuff
AGENTS.md
AGENTS.override.md
Dockerfile.agent
Makefile.agent
bin/agent_run.py
.claude
thoughts

# bots run stuff
bin/run-bots-games.sh
Makefile.bots
data/*
